body{
    font-size:14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    background: #F7F7F7;
    max-width: 1200px;
    line-height: 1.5;
    text-align: left;
}

a{
    color:#333;
}
a:hover{
    text-decoration: none;
}

img{
    max-width: 300px;
}

div {
    display: block;
}

.head {
    background: #f2f7fd;
    border: 1px solid #cddff2;
    border-left: 5px solid #105C9B;
    margin-bottom: 20px;
    margin-right: 10px;
    border-right: 1px solid #cddff2 !important;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    padding: 5px 0;
    margin: 0 10px 10px 0;
    position: relative;
    height: 22px;
}

.head::before{
    content:"";
    border:16px solid transparent;
    border-left-color: #f2f7fd;
    position: absolute;
    left: 100%;
    top: 0px;
    z-index: 2;
    box-sizing: border-box;
}

.head::after{
    content: "";
    border: 17px solid transparent;
    border-left: 17px solid #FFE3B5;
    position: absolute;
    left: 100%;
    top: -1px;
    box-sizing: border-box;
}

.head h1{
    font-size: 16px;
    font-weight: bold;
    float: left;
    text-transform: uppercase;
    padding: 0 10px;
    margin: 0;
    font-family: inherit;
    color: inherit;
    line-height: 1.2;
}

.product-item{
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 20%);
    max-width: 300px;
}

.product-item:hover {
    box-shadow: 1px 2px 5px rgba(0,0,0,.7) !important
}

.product-item img:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.product-item .text{
    padding:5px;
    font-size: 12px;
    position:relative;
    background-repeat: no-repeat;
    background-position: top right;
    color: #333;
    height: 83px;
}

.product-item .text span.name {
    display: block;
    height: 35px;
    overflow: hidden;
    font-weight: bold;
}

.product-item .text .price {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: block;
    color: #FF9800;
}

