body {
  margin: 0;
  background-color: #f9f9f9;
  color: #3a3a3a;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #f8981d;
}

.content {
  width: 70%;
  margin: 100px calc(30% / 2);
  background-color: #fff;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-evenly;
  gap: 40px 0;
}

.grid-item {
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 25%);
}

.grid-item a {
  display: flex;
  height: 100%;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 100%;
}

.grid-item img {
  transition: 0.2s ease-in-out;
}

.breadcrum a {
  border-bottom: 2px solid #eeac2d;
  transition: 0.2s ease-in-out;
}

.breadcrum a:hover {
  color: black;
  background-color: #eeac2d;
}

.inline-img {
  max-width: 600px;
  margin: 0 auto;
}

.inline-img p {
  margin: 0;
  font-style: italic;
  text-align: center;
}

ul {
  list-style: square;
}

.gallery a:hover img {
  transform: scale(1.1);
}

.content h2::before {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1b0";
  font-size: 13px;
  margin-right: 5px;
}

.back-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 5em;
}

#to-top {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.back-top a {
  color: aqua;
}
.back-top:hover a {
  color: #eeac2d;
}
