html {
  font-size: 14px;
  line-height: 1.5;
}

body {
  margin: 0;
  background-color: #f3f4f6 !important;
}

* {
  border: 0 solid;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.footer-body,
.header,
.header-bottom,
.header-top {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

header {
  background-color: #2579f2;
  color: #fff;
}

header .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

header a {
  color: #fff;
}

.navbar {
  padding: 1.25rem 0 !important;
}

.navbar > .container-fluid,
.header-bottom > div,
.footer-top > .container,
.footer-body {
  max-width: 1200px;
}

.navbar > .container-fluid,
.header-bottom > div {
  display: flex;
  flex-wrap: wrap !important;
}

.signin,
.cart,
header form {
  padding: 0.75rem;
}

.signin {
  display: flex;
  align-items: center;
}

.signin a,
.cart {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.signin a:hover,
.cart:hover {
  color: inherit !important;
}

.icon-border {
  border-radius: 50%;
  border: 1px #fff solid;
  background-color: #2579f2;
  width: 3rem;
  height: 3rem;
}

.icon {
  text-align: center;
}

.signin .icon i {
  top: 0;
  left: 0;
  transform: translateY(50%);
  font-size: 1.5rem;
}

.signin-title,
.cart-title,
.signin a div:not(:first-child) {
  margin-left: 0.5rem;
}

.signin .icon:hover {
  filter: brightness(1.1);
}

.cart {
  border: 1px #fff solid;
  border-radius: 10px;
  background-color: #2579f2;
}

.cart:hover {
  filter: brightness(1.1);
}

.num-itm {
  background-color: #fff;
  color: black;
  border-radius: 0.25rem;
  padding: 0 0.25rem;
  margin-left: 0.5rem;
}

.navbar .fullspan {
  margin-top: 1.25rem;
}

.fullspan {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fullspan div {
  display: inline-block;
  margin-left: 0.75rem;
}

.fullspan a:hover {
  color: inherit;
}

.fullspan a:hover div {
  text-decoration: underline;
}

.header form {
  width: calc(100% - 150px);
}

.header form input {
  width: 100%;
  height: 42px;
}

.header form button {
  width: 47.5px;
  color: #fff;
  background-color: #0a59cc;
}

.header form button:hover {
  color: inherit;
  filter: brightness(1.1);
}
.offcanvas-header {
  background-color: #2579f2;
}

.header-bottom {
  background-color: #fff;
  color: #000;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nav-list {
  justify-content: flex-end;
}

.nav-list a {
  font-weight: 600;
}

.nav-list a,
.hb-left a {
  color: #000;
}

.nav-list a:hover,
.hb-left a:hover {
  color: #000;
}

.nav-list img {
  max-width: 40px;
  margin-left: 2rem;
}

.hb-left,
.hb-left div:first-child {
  margin-left: 0 !important;
}

.hb-left {
  display: flex !important;
  align-items: center !important;
  position: relative;
}

.item-list {
  position: relative;
}

.il-title {
  margin-left: 0.75rem !important;
  font-weight: 600;
}

.hb-left:hover {
  cursor: pointer;
}

.il-dropdown {
  display: none !important;
  left: 0;
  top: 40px;
  position: absolute;
  background-color: #fff;
  border-radius: 0.375rem;
  border-color: rgba(156, 163, 175, 0.25);
  box-shadow: 0 10px 15px -3px rgb(0 0 0/0.1), 0 4px 6px -4px rgb(0 0 0/0.1);
}

.list-down {
  flex-direction: column;
  padding: 0.5rem;
  height: 300px;
  min-width: 16rem;
}

.list-down img {
  height: 1.25rem;
  opacity: 0.5;
  flex-shrink: 0;
  min-width: 1.5rem;
}

.il-item {
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.375rem;
  align-items: center;
  flex-grow: 1;
}

.il-item:hover {
  background-color: #f3f4f6;
}

.show-dd {
  display: block !important;
  z-index: 10;
}

.footer-top {
  padding: 30px 0px !important;
  border-bottom: thin solid #b3b2b2;
  background-color: #e3e3e3;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.footer-social,
.footer-info {
  padding: 1.25rem 0;
  display: flex;
}

.footer-social img {
  width: 1.75rem;
}

.footer-social img:not(:first-child) {
  margin-left: 0.75rem;
}

.seperate::after {
  content: "";
  display: block;
  border: 0 solid;
  border-top-width: 1px;
  height: 1px;
  width: 100%;
  border-color: rgba(156, 163, 175, 0.25);
}

.footer-detail,
.footer-link {
  flex-direction: column;
}

.f-about {
  min-width: 18rem;
}

.f-account {
  min-width: 15rem;
}

.f-contact {
  min-width: 20rem;
}

.f-title {
  font-weight: 500;
  text-transform: uppercase;
}

.footer-link {
  margin-top: 0.75rem;
}

.footer-link a {
  color: inherit;
}

.footer-link a:not(:first-child) {
  margin-top: 0.25rem;
}

.notice {
  color: #dc3545;
}

.note {
  color: #374151;
}

.highlight {
  font-weight: 500;
}

.footer-link > div:not(:first-child) {
  margin-top: 0.25rem;
}

.footer-link a:hover {
  color: inherit;
  text-decoration: underline !important;
}

.modal-content {
  padding: 2.5rem;
  flex-direction: row;
  box-sizing: border-box;
  /* min-height: 469px; */
}

.modal-content button {
  border: none;
  background-color: transparent;
  padding: 0;
  font-weight: 500;
  color: #6b7280;
}

.modal-content button.active {
  color: #000;
}

.modal-area {
  position: relative;
}

.modal-body {
  flex-direction: column;
  flex-basis: 100%;
  padding: 0 !important;
  flex-grow: 1;
}

.modal-body > * + * {
  margin-top: 1.25rem;
}

.modal-name {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.modal-name button:hover {
  text-decoration: underline;
}

.modal-name > * + * {
  margin-left: 1.25rem;
}

.modal-img {
  margin-left: 1.5rem;
  flex-basis: 50%;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content .btn-close {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
}

.modal-content .input {
  position: relative;
}

.modal-content .input input {
  --c: var(--d, /*!*/ /*!*/);
  --e: 0px;
  --f: #fff;
  --j: 0 0 #0000;
  --i: var(--c) 0 0 0 calc(1px + var(--e)) var(--g);
  --h: var(--c) 0 0 0 var(--e) var(--f);
  -webkit-appearance: none;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 0.375rem;
  border-width: 1px;
  box-shadow: var(--h), var(--i), var(--j, 0 0 #0000);
  height: 3rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  padding-bottom: 0;
  padding-top: 1.25rem;
}

.modal-content .input label {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 1px;
  padding: 0.75rem 1rem;
  pointer-events: none;
  position: absolute;
  top: 1px;
}

.idf {
  --g: transparent;
  border-color: #d1d5db;
}

.ldf {
  color: #9ca3af;
}

.modal-content .input input:hover,
.modal-content .input input:focus,
.fi {
  --l: 1;
  --g: rgb(37 121 242 / var(--l));
  border-color: #2579f2;
}

.modal-content .input input:focus + label,
.fl {
  transform: translatex(2px) translateY(-0.5rem) scale(0.85);
  transform-origin: top left;
  color: #2579f2;
}

.modal-body a:hover {
  color: #2579f2;
  text-decoration: underline !important;
}

.modal-body > button {
  background-color: #2579f2;
  color: #fff;
  height: 3rem;
  border-radius: 0.375rem;
}

.modal-body > button:hover {
  filter: brightness(1.1);
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 992px !important;
  }
}

@media (min-width: 992px) {
  .offcanvas-body {
    display: none !important;
  }
  .header form {
    width: 436px;
  }
}

@media (min-width: 768px) {
  .header form {
    width: calc(100% - 500px);
    max-width: 436px;
  }

  .modal-body {
    flex-basis: 50% !important;
  }

  .modal-img {
    display: flex;
  }
}

@media (max-width: 992px) {
  .show-lg {
    display: none;
  }
  .navbar {
    padding: 0.5rem 0 !important;
  }
}

@media (max-width: 768px) {
  .show-md {
    display: none;
  }
}
